/* pega todos os elementos da aplicação */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100px;
}

body {
    background: #f5f5f5;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
}